/* CSS reset */
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

/* Font */
    @import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@700&display=swap');

/* Main style */

    body {
        min-height: 100vh;
        background-color: #000;
        overflow: hidden;
        font-size: 29px;
        writing-mode: vertical-lr;
        text-orientation: upright;
        font-family: 'Cabin Condensed', sans-serif;
        font-weight: 700;
    }

    main {
        height: 100%;
    }

    .line {
        display: flex;
        white-space: nowrap;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    p {
        animation-name: colorChange;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        width: 30px;
        height: 30px;
    }


/* Animation */
@keyframes colorChange {
    0%  {
        color: #000;
        text-shadow: none;
    }
    8%  {
        color: #fff;
        text-shadow: 0px 0px 10px #fff;
    }
    10%  {
        color: #FF0095;
        text-shadow: 0px 0px 10px #FF63F9;
    }
    100% {
        color: #000;
        text-shadow: none;
    }
  }
 